[application]

[web.app]

# HTML title tag content
# HTML title tag content
title = "Dioxus HTML to RSX Converter"

base_path = "dioxus-html-rsx"

# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]


# Javascript code file
# serve: [dev-server] only
script = []
